<!DOCTYPE html>
<html>
<head>
<title>COVER</title>
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/coverpage.css">
</head>
<body>
<h1>PA<i class="fa fa-paw" style="color: rgb(125, 120, 120); text-shadow: -2px 2px 0 white;"></i>FECT</h1><br>
<h2>PETS</h2>
<div class="container">
<h4><a style="text-decoration: none;"   href="/">Log Out </a> <i class="fas fa-sign-out-alt"></i></h4>
<a href='/sellpets'><button  class="buttons" id="top">SELL PET</button></a>
<a href='/purchasePets'><button class="buttons">BUY PET</button></a>
<button class="buttons">PET ACCESSORIES</button>
<a href="/consult-a-vet"><button class="buttons">VET<br> DETAILS</button></a>
</div>
</body>
</html>
