<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>Purchase Pets</title>

     <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
     <link rel="stylesheet" type="text/css" href="../static/purchasePets.css">
 
    

  </head>
  <body>
  	 <!-- As a link -->
<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="font-family: 'Pangolin', cursive; 
   " href="/home">Home</a>
  </div>
</nav>
<div class="main">

<a href=/purchasePets/Dog ><div class="card" >
  <img class="card-img-top" src="../static/dog2.jpg" alt="Card image cap">
  <div class="card-body container">
 <h3>Dogs &#128054; </h3>
  </div>
</div>
</a>

<a href=/purchasePets/Cat>
<div class="card" >
  <img class="card-img-top" src="../static/cat3.jpg" alt="Card image cap">
  <div class="card-body container">
    <h3>Cats &#128062;</h3>
  </div>
</div>
</a>

<a href=/purchasePets/Bird>
<div class="card">
  <img class="card-img-top" src="../static/bird2.jpg" alt="Card image cap">
  <div class="card-body container">
   <h3>Birds 	&#128036;</h3>
  </div>
</div>
</a>

<a href=/purchasePets/Fish>
<div class="card" >
  <img class="card-img-top" src="../static/fish3.jpg" alt="Card image cap">
  <div class="card-body container">
   <h3>Fish &#128032;</h3>
  </div>
</div>
</a>

</div>
  </body>
</html>