<!DOCTYPE html>
<html lang="en">
<head>
<title>Veterinary consult</title>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/vet.css">

</head>
<body>
  	 <!-- As a link -->
     <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" style="font-family: 'Pangolin', cursive; 
       " href="/home">Home</a>
      </div>
    </nav>
    
<div class="header">
  <h1 >Online</h1>
  	<h1>Veterinary</h1>
    <h2>consultation</h2>


</div>
  <div class="col-md-12 text-center">
    <a href="mailto:pawfectpets21@gmail.com">  <button type="button" class="btn btn-info btn-lg">Book Consult</button></a>
     
  </div>

</body>
</html>
